# Core Example

In [1]:
from musicnpy import _Set
import numpy as np

Inizializzazione di _Set

NB(forse inutile perchè `_Set` è privata)

In [2]:
a = _Set([-1, -2, 3, 4], 50)

### Getters & Properties

In [3]:
a.values

[49, 48, 53, 54]

In [4]:
a.offset

50

In [5]:
a.vals

array([49, 48, 53, 54])

`_Set.values` ritorna una lista python, `_Set.vals` ritorna il numpy array dove sono contenuti i valori con cui vengono eseguite le operazioni a basso livello all'interno della classe

In [6]:
a.deltas

[-1, 5, 1]

In [7]:
a.odd

[49, 53]

In [8]:
a.even

[48, 54]

In [9]:
a.contour

[-1, 1, 1]

In [10]:
a.median

51.0

In [11]:
a_copy = a.copy
a_copy.reverse()
a, a_copy

(_Set = [49, 48, 53, 54], _Set = [54, 53, 48, 49])

In [12]:
a_copy.original

[49, 48, 53, 54]

In [13]:
a_copy.reset

_Set = [49, 48, 53, 54]

In [14]:
len(a)

4

In [15]:
max(a)

54

In [16]:
min(a)

48

### Arithmetic Operations

Le operazioni aritmetiche sono valide tra il `_Set` e un numero `int`/`float`, tra due `_Set` e tra un `_Set` e una `list`. 

Tutte le operazioni possono essere fatte tramite sovrascittura della variabilie, in-place o in maniera inversa.

```python

a = a + 1       # sovrascrittura
a = 1 + a       # inversa
a += 1          # in-place
```

In [17]:
a = a + 2
a

_Set = [51, 50, 55, 56]

In [18]:
a /= 2
a

_Set = [25.5, 25.0, 27.5, 28.0]

In [19]:
a = a - [10, 20, 30, 40]
a

_Set = [15.5, 5.0, -2.5, -12.0]

In [20]:
a *= a_copy
a, a_copy

(_Set = [759.5, 240.0, -132.5, -648.0], _Set = [49, 48, 53, 54])

In [21]:
a //= [8, 4, 6]
a

_Set = [94.0, 60.0, -23.0, -648.0]

Se le due liste non sono lunghe uguali, come nel caso precedente, il problema viene evitato dietro le quinte seguendo queste regole principali:

- `add` e `sub`: vengono aggiunti n `0` alla lista più corta:

    ```python
    [0, 1, 2, 3] + [1, 2, 3] = [1, 3, 5, 3]
    # ovvero....
    [0, 1, 2, 3] + [1, 2, 3, 0] = [1, 3, 5, 3]
    ```
- `mul`, `div`, `pow` e `mod`: vefono aggiunti n `1` alla lista più corta:

    ```python
    [0, 1, 2, 3] * [1, 2, 3] = [0, 2, 6, 3]
    # ovvero ...
    [0, 1, 2, 3] * [1, 2, 3, 1] = [0, 2, 6, 3]
    ```